*, *::before, *::after {
  box-sizing: border-box;
}

.root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
}

html {
  font-family: inherit;
  line-height: inherit;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre, code, kbd, samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}
.quest_guide_components_blog__prose{font-size:1.125rem;line-height:1.5}.quest_guide_components_blog__prose p{margin-top:1.25rem}.quest_guide_components_blog__prose h1{border-bottom-width:1px;--gi-border-opacity:1;border-color:rgba(228,228,231,var(--gi-border-opacity));padding-bottom:.5rem;margin-top:1rem;font-family:bitoperator-bold;font-size:3rem;line-height:1}.quest_guide_components_blog__prose h2{border-bottom-width:1px;--gi-border-opacity:1;border-color:rgba(228,228,231,var(--gi-border-opacity));padding-bottom:.5rem;margin-top:1rem;font-family:bitoperator-bold;font-size:1.875rem;line-height:2.25rem}.quest_guide_components_blog__prose h3{border-bottom-width:1px;--gi-border-opacity:1;border-color:rgba(228,228,231,var(--gi-border-opacity));padding-bottom:.5rem;margin-top:1rem;font-family:bitoperator-bold;font-size:1.25rem;line-height:1.75rem}.quest_guide_components_blog__prose h4{border-bottom-width:1px;--gi-border-opacity:1;border-color:rgba(228,228,231,var(--gi-border-opacity));padding-bottom:.5rem;margin-top:1rem;font-family:bitoperator-bold;font-size:1.125rem;line-height:1.75rem}.quest_guide_components_blog__prose h5{border-bottom-width:1px;--gi-border-opacity:1;border-color:rgba(228,228,231,var(--gi-border-opacity));padding-bottom:.5rem;margin-top:1rem;font-family:bitoperator-bold;font-size:1rem;line-height:1.5rem}.quest_guide_components_blog__prose h6{border-bottom-width:1px;--gi-border-opacity:1;border-color:rgba(228,228,231,var(--gi-border-opacity));padding-bottom:.5rem;margin-top:1rem;font-family:bitoperator-bold;font-size:.875rem;line-height:1.25rem}.quest_guide_components_blog__prose ul{list-style-type:disc;list-style-position:inside;margin-top:1rem}.quest_guide_components_blog__prose li{margin-top:.5rem}.quest_guide_components_blog__prose a{--gi-text-opacity:1;color:rgba(13,148,136,var(--gi-text-opacity))}.quest_guide_components_blog__prose blockquote{margin-top:1rem;padding-left:1rem;border-left-width:5px;--gi-border-opacity:1;border-color:rgba(13,148,136,var(--gi-border-opacity));padding-top:1rem;padding-bottom:1rem;padding-right:.75rem;--gi-bg-opacity:1;background-color:rgba(240,253,250,var(--gi-bg-opacity))}.quest_guide_components_blog__prose blockquote>p:first-child{margin-top:0}
.quest_guide_components_blog__index{margin:1rem;margin-top:3rem}.quest_guide_components_blog__index>h2{font-family:bitoperator-bold;font-size:2.25rem;line-height:2.5rem}.quest_guide_components_blog__index>ul{list-style-type:disc}.quest_guide_components_blog__index>ul>li{display:flex;margin-top:1rem;margin-bottom:1rem;font-size:1.125rem;line-height:1.75rem;justify-content:space-between}.quest_guide_components_blog__index>ul>li>date{font-size:1rem;line-height:1.5rem}
.quest_guide_components_blog__entry{margin:1rem;margin-top:3rem}.quest_guide_components_blog__entry>h1{font-family:bitoperator-bold;font-size:2.25rem;line-height:2.5rem}.quest_guide_components_blog__entry .post-meta{margin-top:1rem}.quest_guide_components_blog__entry>main{margin-top:1rem;margin-bottom:1rem}
.quest_guide_layout__ground{height:2rem;width:100%;background-image:linear-gradient(to bottom,var(--gi-gradient-stops));--gi-gradient-from:#560d37;--gi-gradient-stops:var(--gi-gradient-from),var(--gi-gradient-to,#560d3700);--gi-gradient-to:#000}
.quest_guide_layout__sky{height:2rem;width:100%;background-image:linear-gradient(to top,var(--gi-gradient-stops));--gi-gradient-from:#020034;--gi-gradient-stops:var(--gi-gradient-from),var(--gi-gradient-to,#02003400);--gi-gradient-to:#000}
.quest_guide_layout__footer{padding-top:2rem;text-align:center;font-family:bitoperator-regular;--gi-text-opacity:1;color:rgba(255,255,255,var(--gi-text-opacity));--gi-bg-opacity:1;background-color:rgba(0,0,0,var(--gi-bg-opacity))}.quest_guide_layout__footer>.love>img{width:1rem;height:1rem;display:inline}.quest_guide_layout__footer>.love>a{--gi-text-opacity:1;color:rgba(251,113,133,var(--gi-text-opacity))}
.quest_guide_layout__app{font-family:Atkinson Hyperlegible,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji}
.quest_guide_layout__page>main{margin-left:auto;margin-right:auto}@media(min-width:768px){.quest_guide_layout__page>main{max-width:768px}}

.quest_guide_home__banner{width:100%;height:100%}
.quest_guide_home__newsletter{border-width:2px;max-width:36rem;border-color:rgba(45,212,191,var(--gi-border-opacity));font-family:bitoperator-bold;margin-right:auto;padding:2rem;margin-top:2rem;--gi-border-opacity:1;margin-left:auto;border-radius:.5rem}.quest_guide_home__newsletter>form p{font-size:1.5rem;line-height:2rem}.quest_guide_home__newsletter>form label{font-size:1.125rem;line-height:1.75rem;margin-top:1rem;display:block;--gi-text-opacity:1;color:rgba(45,212,191,var(--gi-text-opacity))}.quest_guide_home__newsletter>form input{margin-right:1rem;margin-top:1rem;padding:.5rem;width:16rem;--gi-text-opacity:1;color:rgba(192,38,211,var(--gi-text-opacity));border-radius:.5rem}.quest_guide_home__newsletter>form button{border-width:2px;--gi-border-opacity:1;border-color:rgba(45,212,191,var(--gi-border-opacity));padding:.5rem;border-radius:.5rem}
.quest_guide_home__main{text-align:center;font-family:bitoperator-regular;--gi-text-opacity:1;color:rgba(255,255,255,var(--gi-text-opacity));--gi-bg-opacity:1;background-color:rgba(0,0,0,var(--gi-bg-opacity));padding:1rem}.quest_guide_home__main>h2{font-size:3.75rem;line-height:1;margin-top:2rem;font-family:bitoperator-bold}.quest_guide_home__main>.desc{margin-top:2rem;max-width:32rem;margin-left:auto;margin-right:auto;line-height:1.625;--gi-text-opacity:1;color:rgba(161,161,170,var(--gi-text-opacity))}.quest_guide_home__main>.desc>span{margin-top:1rem;display:block}.quest_guide_home__main>.start{--gi-text-opacity:1;color:rgba(161,161,170,var(--gi-text-opacity));font-size:1.5rem;line-height:2rem;margin-top:2rem;font-family:bitoperator-bold}.quest_guide_home__main>.repo{margin-top:.5rem;--gi-text-opacity:1;color:rgba(161,161,170,var(--gi-text-opacity))}.quest_guide_home__main>.repo>a{--gi-text-opacity:1;color:rgba(245,158,11,var(--gi-text-opacity))}