*, *::before, *::after {
  box-sizing: border-box;
}

.root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
}

html {
  font-family: inherit;
  line-height: inherit;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre, code, kbd, samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}
.quest_guide_home__banner{width:100%;height:100%}
.quest_guide_home__ground{height:2rem;width:100%;background-image:linear-gradient(to bottom,var(--gi-gradient-stops));--gi-gradient-from:#560d37;--gi-gradient-stops:var(--gi-gradient-from),var(--gi-gradient-to,#560d3700);--gi-gradient-to:#000}
.quest_guide_home__sky{height:2rem;width:100%;background-image:linear-gradient(to top,var(--gi-gradient-stops));--gi-gradient-from:#020034;--gi-gradient-stops:var(--gi-gradient-from),var(--gi-gradient-to,#02003400);--gi-gradient-to:#000}
.quest_guide_home__header{text-align:center;font-family:bitoperator-regular;--gi-text-opacity:1;color:rgba(255,255,255,var(--gi-text-opacity));--gi-bg-opacity:1;background-color:rgba(0,0,0,var(--gi-bg-opacity));padding:1rem}.quest_guide_home__header>h2{font-size:3.75rem;line-height:1;margin-top:2rem;font-family:bitoperator-bold}.quest_guide_home__header>.desc{margin-top:2rem;max-width:32rem;margin-left:auto;margin-right:auto;line-height:1.625;--gi-text-opacity:1;color:rgba(161,161,170,var(--gi-text-opacity))}.quest_guide_home__header>.desc>span{margin-top:1rem;display:block}.quest_guide_home__header>.start{--gi-text-opacity:1;color:rgba(52,211,153,var(--gi-text-opacity));font-size:1.5rem;line-height:2rem;margin-top:4rem;font-family:bitoperator-bold}.quest_guide_home__header>.repo{margin-top:1rem;--gi-text-opacity:1;color:rgba(161,161,170,var(--gi-text-opacity))}.quest_guide_home__header>.repo>a{--gi-text-opacity:1;color:rgba(245,158,11,var(--gi-text-opacity))}.quest_guide_home__header>.love{margin-top:8rem}.quest_guide_home__header>.love>img{width:1rem;height:1rem;display:inline}.quest_guide_home__header>.love>a{--gi-text-opacity:1;color:rgba(251,113,133,var(--gi-text-opacity))}
.quest_guide_layout__app{font-family:Atkinson Hyperlegible,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji}